body {
    font-family: Arial, sans-serif;
    background-color: #769fd5;
    margin: 0;
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {

    background-color: #edeff5;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 80px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.instructions {
    text-align: left;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0d3c6e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3177c2;
}

.result textarea {
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #0b0a0a;
    border-radius: 5px;
    resize: none;
}

.result button {
    width: 100%;
    padding: 10px;
    background-color: #235c99;
    color: rgb(27, 44, 104);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

